*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
#wrapper{
  margin:0 auto;
  width:9.5in;
  padding-bottom: 1in;
  position:relative;
}
button{
  color:white;
  padding:5px;
  cursor:pointer;
}
label{
  display: flex;
  flex-direction: column;
}
#bin-label{
  width:5ch;
}
#bin, .edit-bin{
  width:5ch;
}
#vintage-size{
  width:7ch;
}
#price{
  width:7ch;
}
.bin-display{
  width:8ch;
}
.description-display{
  max-width:85ch;
}
.edit-description{
  width:85ch;
}
.wine-display{
  display: flex;
  width:100%;
  max-width:10in;
  align-items: center;
  border:1px solid green;
}
.vintage-size-display{
  margin-left:auto;
  width:6ch;
}
.edit-vintage-size{
  width:6ch;
}
.price-display{
  text-align: end;
}
.price-display, .edit-price{
  width:7ch;
}
#form-row-1{
  display:flex;
  gap:20px;
}
select{
  max-width:20ch;
}
#description{
  max-width:85ch;
}
.form-dropdowns{
  display:flex;
  gap:20px;
}
#add-form{
  padding-bottom:20px;
  /* position:fixed; */
  top:0;
  
  background:white;
  width:100%;
}
button{
  border-radius: 10px;
  border:none;
}
#add-form button{
  margin-top: 10px;

}
.wine-display button{
  margin: 0 5px;
}