*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: sans-serif;
}
#wrapper{
  margin:0 auto;
  width:12in;
  padding-bottom: 1in;
  position:relative;
}
button{
  color:white;
  padding:5px;
  cursor:pointer;
}
label{
  display: flex;
  flex-direction: column;
}
#bin-label{
  width:5ch;
}
#description{
  width:85ch;
}
#bin, .edit-bin{
  width:5ch;
}
#vintage-size{
  width:7ch;
}
#price{
  width:7ch;
}
.bin-display{
  width:8ch;
}
.edit-description{
  width:85ch;
}
.wine-display{
  margin-top:5px;
}
.wine-display, edit-display{
  display: flex;
  width:100%;
  align-items: center;
}
#edit-display, input{
  font-size:16px;
}
.vintage-size-display{
  width:6ch;
}
.edit-vintage-size{
  width:6ch;
}
.price-display{
  text-align: end;
}
.price-display, .edit-price{
  width:7ch;
}
#form-row-1{
  display:flex;
  gap:20px;
}
select{
  max-width:20ch;
}
.form-dropdowns{
  display:flex;
  gap:20px;
}
#add-form{
  padding-bottom:20px;
  position:fixed;
  top:0;
  
  background:white;
  width:100%;
}
#wines{
  padding-top:225px;
}
button{
  border-radius: 10px;
  border:none;
  font-size:16px;
  display:flex;
  gap:1ch;
}
#add-form button{
  margin-top: 10px;
}
.wine-display button, .save-changes{
  margin: 0 5px;
}
.bin-edit{
  width:6ch;
}
.bins{
  display:inline-block;
  width:8ch;
}
.descriptions, .description-edit{
  display: inline-block;
  width:85ch;
}
.vintageSizes, .vintage-size-edit{
  display: inline-block;
  width:8ch;
}
.prices, .prices input{
  display: inline-block;
  width:8ch;
  text-align: end;
}
.save-changes{
  display: inline-block;
}
.edit-display{
  display:none;
}
fieldset{
  padding:5px;
  border-radius: 10px;
  max-width: 65vw;
}
legend{
  color:green;
  font-size: 20px;
  padding:0 5px;
}
#type-of-wine{
  margin:10px 0;
}